/* --------------------------------------------------
  Main colors
-------------------------------------------------- */
$blue: #3CB8E4;
$orange: #FA9A27;
$red: #A04930;
$green: #3E8B55;
$cloudy: #A9A096;
$graphite: #7f7f80;
$wild-sand: #F4F4F4;

/* --------------------------------------------------
  Color-list used for loops
-------------------------------------------------- */

$color-list: (blue, $blue),
              (red, $red),
              (orange, $orange),
              (green, $green),
              (cloudy, $cloudy),
              (graphite, $graphite),
              (wild-sand, $wild-sand);

/* --------------------------------------------------
  Old Colours
-------------------------------------------------- */
$charlotte: #CBEEFA;

/* --------------------------------------------------
  Greys
-------------------------------------------------- */

$nero: #222;
$gunmetal: #2D3339;
$night-rider: #333;
$charcoal: #444;
$mortar: #555;
$dim: #666;
$grey: #777;
$suva: #888;
$nobel: #999;
$chalice: #AAA;
$silver: #BBB;
$alto: #CCC;
$gainsboro: #DDD;
$smoke: #EEE;
$white-smoke: #F6F6F6;
$alabaster: #FAFAFA;
$dark-white-smoke: #d4d4d4;
$whisper: #E7E7E7;


/* --------------------------------------------------
  Red
-------------------------------------------------- */
$roof-terracotta: #A94442; // Alert colour
$alizarin: #EB2020; // Original 'poor' colour
$pale-rose: #F3DEDE; // Original 'poor-fade' colour

/* --------------------------------------------------
  Oranges
-------------------------------------------------- */
$sunglow: #FFC526; // Original 'degraded' colour
$papaya-whip: #FFF3D0; // Original 'degraded-fade' colour
$pumpkin: #FF7B1D;
$sandy-beach: #FEE8C3;

/* --------------------------------------------------
  Yellows
-------------------------------------------------- */
$varden: #FCEACE;
$peach-yellow: #FAD8A4;
$vis-vis: #FAD293;

/* --------------------------------------------------
  Greens
-------------------------------------------------- */
$atlantis: #90C841; // Original 'good' colour
$hint-of-green: #EAF2DD; // Original 'good-fade' colour
$edgewater: #C9E4D2;

/* --------------------------------------------------
  Blues
-------------------------------------------------- */
$curious-blue: #337AB7;
