.react-table__pagination {
  display: flex;
  flex-wrap: wrap;
}

.react-table__pagination-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 50px;
    border-radius: 5px;
    border: 1px solid $grey;
    text-align: center;
  }
  order: 3;
  padding: 15px;
  @include breakpoint(small) {
    width: 60%;
    order: inherit;
    padding: 0;
  }
}

.react-table__pagination-button {
  width: 50%;
  cursor: pointer;
  transition: all .3s linear;
  padding: 15px;
  text-align: center;
  @include breakpoint(small) {
    width: 20%;
  }
}

.react-table__pagination-button:focus {
  outline: none;
}

.react-table__pagination-button:first-of-type,
.react-table__pagination-button:last-of-type {
  background: $light-grey;
}

.react-table__pagination-button:hover {
  background: darken($light-grey, 30%);
  color: #fff;
}

.react-table__pagination-button:disabled {
  cursor: not-allowed;
  background: $light-grey;
  color: #BBB;
}
