@import 'breakpoints';
@import 'mixins';
@import 'variables';

@import 'options';
@import 'sorting';
@import 'row';
@import 'pagination';

.react-table {
  font-size: 1.6rem;
}

.react-table__wrap {
  max-width: 1000px;
  margin: 0 auto;
}

.react-table__table {
  width: 100%;

  thead {
    border-bottom: 3px solid $main-color;
  }

  th {
    font-size: 1.8rem;
    font-weight: 500;
    color: $main-color;
    padding: 15px 10px;
    transition: box-shadow 0.3s ease-in-out;
  }

  th:hover {
    cursor: pointer;
  }

  .react-table--hover {
    background: $main-color-light;
  }
}
