.react-table__sort {
  position: relative;
}

.react-table__sort:after {
  position: absolute;
  content: '';
  height: 3px;
  background: $main-color;
  transition: all 0.2s linear;
  width: 0;
  left: 10px;
  bottom: 40px;
}

.react-table__sort-up:after {
  transition: all 0.2s linear;
  width: 30%;
  left: 10px;
  bottom: 40px;
}

.react-table__sort-down:after {
  width: 30%;
  left: 10px;
  bottom: 10px;
  transition: all 0.2s linear;
}
